<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STX 404 Not Found</title>
    <link rel="stylesheet" href="./styles/global.css" />
    <link rel="stylesheet" href="./styles/404-page.css" />
  </head>
  <body>
    <div class="container fof-container">
      <div class="content">
        <h2 class="fof-title">Whoops!</h2>
        <p class="not-found">Sahifa Topilmadi!</p>
        <div class="images">
          <img class="" src="./assets/four-2.svg" alt="" />
          <img class="fof-image" src="./assets/cat-on-vacation.jpg" alt="" />
          <img class="" src="./assets/four-2.svg" alt="" />
        </div>
        <h3 class="fof-text">Sahifa dam olishga ketgan shekilli.</h3>
        <p class="fof-links">
          <a href="/">Asosiy</a> sahifaga o'tish!<!-- or <a href="/blogs">blogs</a>-->
        </p>
      </div>
    </div>
  </body>
</html>
