<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>STX Dashboard</title>
    <!-- Font awesome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Custom Styles -->
    <link rel="stylesheet" href="./../styles/global.css" />
    <link rel="stylesheet" href="./../styles/dashboard.css" />
  </head>
  <body>
    <div class="dashboard">
      <nav class="sidebar">
        <a href="/dashboard" class="logo">STX Dashboard</a>
        <p class="nav-btn" id="open-btn">
          <i class="fa-solid fa-bars"></i>
        </p>
        <p class="nav-btn" id="close-btn">
          <i class="fa-solid fa-x"></i>
        </p>
        <ul class="navigation" id="navigation">
          <li class="nav-item">
            <a href="/dashboard" class="nav-link">Messages</a>
          </li>
          <li class="nav-item">
            <a href="/dashboard/users" class="nav-link">Users</a>
          </li>

          <li class="nav-item">
            <a href="/dashboard/project" class="nav-link">Projects</a>
          </li>
          <li class="nav-item">
            <a href="/dashboard/pricing" class="nav-link">Pricing</a>
          </li>
          <li class="nav-item">
            <a href="/user/logout" class="nav-link">logout -></a>
          </li>
        </ul>
      </nav>
      <main class="main">
